<form [formGroup]="createForm" (ngSubmit)="create()" autocomplete="off">
  <h2 class="text-center text-primary">Create new product</h2>
  <br>

  <div class="row justify-content-center">
    <div class="col-4">
      <app-text-input formControlName="productname" label="Product name"></app-text-input>
      <app-text-input formControlName="productDescription" label="Product Description"></app-text-input>
      <app-dropdown formControlName="categoryName" label="Category" [categories]="categories"></app-dropdown>
      <app-text-input formControlName="unitPrice" label="Unit Price" type="number"></app-text-input>
      <app-text-input formControlName="unitsInStock" label="Units In Stock" type="number" pattern="[0-9]"></app-text-input>
    </div>
  </div>


  <div class="form-group text-center">
    <button [disabled]="createForm.invalid" class="btn btn-success mr-2" type="submit">Create</button>
    <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
