<div class="row">
  <div class="col-lg-4 title">
    <h1 class="text-primary">Eco-Friendly Fashion Store</h1>
  </div>
  <div class="col-lg-4 speech">
    <h4>
      Nice to meet, we are "Eco-Friendly Fashion Store"! Two sisters with strong fashion sense and great responsibility for the environment.
      Our mission is to figure out how to make you the most practical and long-live garment with as little to no waste while taking the environmental and social consequences the fashion industry have caused into mind.
      With inclusive sizing that's going from XS-4XL we hope you'll find your next favourite wear here!
    </h4>
  </div>
</div>
