<div class="row" *ngIf="item">
  <div class="col-4">
    <h1>Edit Product {{item.productname}}</h1>
  </div>
  <div class="col-8">


    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Information</strong>
      You have made changes. any unsaved changes will be lost
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img class="card-img-top img-thumbnail" src="{{item.photoUrl}}" alt="{{item.productname}}">
      <div class="card-body">
        <div>
          <h4>Category:</h4>
          <p>{{item.categoryName}}</p>
        </div>
        <div>
          <h4>Price:</h4>
          <p>{{item.unitPrice}}</p>
        </div>
        <div>
          <h4>In stock:</h4>
          <p>{{item.unitsInStock}}</p>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="editForm.pristine" form="editForm" type="submit" class="btn btn-success btn-block">Save
          Changes</button>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="item-tabset">
      <tab heading="{{item.productname}}'s Description">
        <form #editForm="ngForm" (ngSubmit)="updateItem()" id="editForm">
          <h4>Description:</h4>
          <input type="text" [(ngModel)]="item.productDescription" name="description" class="form-control mx-2">
        </form>
      </tab>
      <tab heading="Photo Editor">
        <app-photo-editor [item]="item"></app-photo-editor>
      </tab>
    </tabset>
  </div>

</div>
