<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" [src]="product.photoUrl" alt="{{product.productname}}">
    <ul class="list-inline item-icons animate text-center">

      <li class="list-inline-item">
        <button
        type="button"
        [ngClass]="product.isLiked ? 'btn-info' : 'btn-primary'"
        (click)="addRemoveLike(product)"
        class="btn btn-primary btn-sm">
          <i class="fa fa-heart"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary btn-sm" routerLink="/products/{{product.productname}}">
          <i class="fa fa-info"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary btn-sm">
          <i class="fa fa-cart-plus"></i>
        </button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-info btn-sm" routerLink="/products/{{product.productname}}/edit">
          <i class="fa fa-pencil"></i>
        </button>
      </li>

    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mg-1">{{product.categoryName}}
      <i class="fa fa-tag mr-2"></i>{{product.productname}}
    </h6>
    <p class="card-text text-muted text-center">
      {{product.unitPrice}}$
    </p>

  </div>
</div>
