<div class="bgimg">
  <img src="https://dub01pap002files.storage.live.com/y4macMbBDNT53yngrhtWo5VC9VsbvX77RkzEfid8iG_R8ESDRQPW-TsFf76lEbZQi8MFflnrNUWXGBol6eDwctCeljXO_No2_yQdK2ehYlLAyK-C3GmQJfe5PIih0-bfS-a0JZdRu08gvA_CmoiTHtN_rKLmhkDAl0RIzzCcDSYp4IDgAk3jF4JIV28ejJVcuqceMNHAkWylYS5AgYAEQUVWA/IMG_4921%5BCurves2%2CHueSat%2CNeatImg%2CNikSharp2%5D.jpg?psid=1&width=1045&height=784" alt="">
  <div class="topleft">
  </div>
  <div class="middle">
    <h1>Product Management Coming Soon!</h1>
    <hr>
  </div>
  <div class="bottomleft">
    <h5>- Price edit</h5>
    <h5>- In stock value edit</h5>
    <h5>- Remove</h5>
  </div>
</div>
