<div class="text-center mt-3">
  <h2>{{productname}}</h2>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="btn-group" name="productname">
      <button class="btn btn-primary" btnRadio="Witt" [(ngModel)]="productname" (click)="loadLikes()">Witt</button>
      <button class="btn btn-primary" btnRadio="Sanchez"  [(ngModel)]="productname" (click)="loadLikes()">Sanchez</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2" *ngFor="let member of members">
      <app-member-card [member]="$any(member)"></app-member-card>
    </div>
  </div>
</div>
